@use '../mixins';
@use '../colors';

.client-logo {
  padding: 0 0 50px;
  background-color: colors.$white;

  &__main {
    display: flex;
    flex-direction: row;
    gap: 29px;
    align-items: center;

    @include mixins.media-sm {
      gap: 31px;
    }

    @include mixins.media-lg {
      gap: 92px;
    }

    &-icon {
      flex-grow: 1;

      img {
        display: block;
        width: 100%;
      }
    }
  }
}
