@use '../mixins';
@use '../typography';
@use '../colors';
@use '../blocks/buttons';

.contact-us {
  padding: 50px 0;
  background-color: colors.$white;

  &__contacts {
    &-text {
      text-align: center;

      &-title {
        @extend %title;
      }

      h3 {
        @extend %h-main;

        margin-top: 18px;
        padding: 0 60px;

        @include mixins.media-sm {
          padding: 0 190px;
        }

        @include mixins.media-lg {
          margin-top: 25px;
          padding: 0 390px;
        }
      }
    }

    &-communications {
      margin-top: 18px;
      display: flex;
      flex-direction: column;
      gap: 25px;

      @include mixins.media-sm {
        margin-top: 60px;
        gap: 24px;
        flex-direction: row;
      }
    }

    &-communication {
      background-color: colors.$white;
      padding: 18px 40px 30px 18px;
      box-shadow: 0 1px 10px rgba(0 0 0 / 10%);

      @include mixins.media-sm {
        padding: 18px 5px 18px 18px;
        flex: 0 0 calc((100% - 48px) / 3);
      }

      @include mixins.media-lg {
        padding: 18px 18px 24px;
      }

      &-header {
        display: flex;
        flex-direction: row;
        gap: 18px;

        @include mixins.media-sm {
          gap: 15px;
        }
        @include mixins.media-lg {
          gap: 18px;
        }

        &-icon {
          width: 75px;
          height: 75px;
          background-color: colors.$orange;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 4px 5px 15px rgba(255 83 0 / 40%);

          @include mixins.media-sm {
            width: 40px;
            height: 40px;
          }
        }

        &-icon img {
          display: flex;
          width: 36px;
          height: 36px;

          @include mixins.media-sm {
            width: 18px;
            height: 18px;
          }
        }

        &-text {
          display: flex;
          flex-direction: column;

          h4 {
            @extend %h-contact-us-2;
          }

          h5 {
            @extend %h-contact-us-1;
          }
        }
      }

      &-footer {
        display: flex;
        flex-direction: column;
        margin-top: 34px;
        gap: 10px;

        @extend %h-contact-us-3;

        @include mixins.media-sm {
          gap: 15px;
          margin-top: 18px;
        }

        @include mixins.media-sm {
          gap: 18px;
          margin-top: 37px;
        }
      }
    }
  }

  &__message {
    margin-top: 62.5px;

    @include mixins.media-sm {
      margin-top: 60px;
      display: flex;
      flex-direction: row;
      gap: 20px;
    }

    @include mixins.media-lg {
      gap: 50px;
    }

    &-picture {
      padding: 170px 0 0;
      background-image: url('/src/images/contact-us/message.svg');
      background-repeat: no-repeat;
      background-position: top center;
      background-size: 262px;

      @include mixins.media-sm {
        margin-top: 120px;
        background-position: top left;
        padding: 250px 0 0;
        background-size: 280px;
        flex-basis: 45%;
      }

      @include mixins.media-lg {
        margin-top: 80px;
        flex-basis: 45%;
        padding: 300px 0 0;
        background-size: 450px;
      }
    }

    &-send {
      margin-top: 50px;

      @include mixins.media-sm {
        margin-top: 0;
        flex-basis: 55%;
      }

      &-header {
        text-align: center;
        padding: 0 85px;

        @extend %h-main2;

        @include mixins.media-sm {
          text-align: left;
          padding: 0 30px 0 0;
        }
      }

      &-block {
        margin-top: 18px;

        &-short-text {
          display: flex;
          gap: 18px;
          flex-wrap: wrap;

          @include mixins.media-sm {
            gap: 10px;
          }
        }

        &-form {
          display: flex;
          flex-direction: column;
          gap: 18px;

          @include mixins.media-lg {
            gap: 29px;
          }
        }

        &-input-container {
          flex: 0 0 100%;

          @include mixins.media-sm {
            flex: 0 0 calc(100% / 2 - 5px);
          }

          & input,
          & textarea {
            @extend %title;

            padding: 18px;
            display: block;
            width: 100%;
            border: 0;
            transition: box-shadow 0.2s ease-in;
            box-shadow: 0 1px 10px rgba(0 0 0 / 10%);

            @include mixins.media-sm {
              padding: 13px 18px;
            }
          }

          & input {
            @include mixins.media-lg {
              min-height: 60px;
            }
          }

          & textarea {
            @include mixins.media-sm {
              max-height: 115px;
            }

            @include mixins.media-lg {
              min-height: 163px;
              min-width: 670px;
            }
          }

          & input:focus,
          & textarea:focus,
          & input:hover,
          & textarea:hover,
          & input:active,
          & textarea:active {
            border: 0;
            box-shadow: 0 1px 10px rgba(0 0 0 / 25%);
          }

          & input:focus-visible,
          & textarea:focus-visible {
            outline: 0;
          }
        }
      }
    }

    &-send-button-container {
      margin-top: 7px;

      @include mixins.media-sm {
        margin-top: 20px;
      }

      @include mixins.media-lg {
        margin-top: 0;
      }
    }

    &-send-button {
      @extend %button-send-message;
    }
  }

  &__map {
    padding: 50px 0 0;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      object-position: 50% 50%;

      @include mixins.media-sm {
        object-fit: cover;
      }

      @include mixins.media-lg {
        height: 450px;
      }
    }
  }
}

.dark {
  .contact-us {
    background-color: colors.$dark-background;

    &__contacts {
      &-text {
        h3 {
          color: colors.$white;
        }

        &-title {
          color: colors.$white;
        }
      }

      &-communication {
        background-color: colors.$dark-view-1;

        &-header-text h5 {
          color: colors.$white;
        }

        &-footer-number {
          color: colors.$white;
        }
      }
    }

    &__message-send {
      &-header {
        color: colors.$white;
      }

      &-block-input-container input,
      & textarea {
        background-color: colors.$dark-view-1;
        color: colors.$white;
      }
    }
  }
}
