@use '../mixins';
@use '../typography';
@use '../colors';

.footer {
  background-color: colors.$black;
  color: colors.$white;
  padding: 50px 0;

  @include mixins.media-sm {
    padding: 60px 0 50px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 50px;

    @include mixins.media-sm {
      display: flex;
      flex-direction: row;
      gap: 14px;
    }

    @include mixins.media-lg {
      gap: 90px;
    }

    &-company {
      @include mixins.media-sm {
        flex-basis: calc(100% / 4 - 10px);
      }

      h4 {
        @extend %footer-h2;
      }

      &-list {
        margin-top: 18px;
        gap: 10px;
        display: flex;
        flex-direction: column;

        @include mixins.media-sm {
          gap: 8px;
        }

        @include mixins.media-lg {
          gap: 10px;
        }

        @extend %h6;

        & > li {
          a {
            color: colors.$white;
          }
        }
      }
    }

    &-services {
      @include mixins.media-sm {
        flex-basis: calc(100% / 4 - 10px);
      }

      h4 {
        @extend %footer-h2;
      }

      &-list {
        margin-top: 18px;
        gap: 10px;
        display: flex;
        flex-direction: column;

        @include mixins.media-sm {
          gap: 8px;
        }

        @include mixins.media-lg {
          gap: 10px;
        }

        @extend %h6;

        & > li {
          a {
            color: colors.$white;
          }
        }
      }
    }

    &-about {
      @include mixins.media-sm {
        flex-basis: calc(100% / 4 - 10px);
      }

      h3 {
        @extend %footer-h;

        color: colors.$white;
      }

      p {
        margin-top: 18px;

        @extend %h6;

        @include mixins.media-sm {
          max-width: 245px;
        }
      }

      &-social-links {
        margin-top: 18px;

        &-list {
          margin: 0;
          padding: 0;
          list-style: none;
          display: flex;
          flex-direction: row;
          gap: 27px;

          @include mixins.media-sm {
            gap: 11px;
          }

          @include mixins.media-lg {
            gap: 22px;
          }

          & > li {
            width: 40px;
            height: 40px;
            background-color: colors.$white;
            box-shadow: 0 1px 10px rgba(0 0 0 / 10%);
            transition: background-color 0.2s ease-in;
            display: flex;
            align-items: center;
            justify-content: center;

            @include mixins.media-sm {
              width: 30px;
              height: 30px;
            }

            @include mixins.media-lg {
              width: 40px;
              height: 40px;
            }

            a {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 24px;
              height: 24px;

              @include mixins.media-sm {
                width: 18px;
                height: 18px;
              }

              @include mixins.media-lg {
                width: 24px;
                height: 24px;
              }

              svg path {
                transition: fill 0.2s ease-in;
              }
            }
          }
        }
      }
    }

    &-newsletter {
      @include mixins.media-sm {
        flex-basis: calc(100% / 4 - 10px);
      }

      h4 {
        @extend %footer-h2;
      }

      p {
        margin-top: 18px;

        @extend %h6;
      }

      &-subscribe {
        margin-top: 18px;
        height: 62px;

        &-form {
          display: flex;
          flex-direction: row;
        }

        &-input-block {
          flex-basis: 77%;
          border: 1px solid colors.$orange;

          & input {
            background-color: colors.$black;
            padding: 18px;
            border: 0;
            width: 100%;

            @include mixins.media-sm {
              padding: 12px 9px 12px 5px;
            }

            @extend %footer-input;
          }

          & input:focus-visible {
            outline: 0;
          }
        }

        &-button {
          background-color: colors.$orange;
          flex-basis: 23%;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;

          & img {
            min-width: 24px;

            @include mixins.media-sm {
              min-width: 18px;
            }
          }
        }
      }
    }
  }
}
