@use '../mixins';
@use '../typography';
@use '../colors';

.header {
  height: 50px;
  background-color: colors.$white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;

  @include mixins.media-sm {
    height: 80px;
    box-shadow: 0 1px 10px rgba(0 0 0 / 10%);
  }

  @include mixins.media-lg {
    height: 100px;
  }

  &__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include mixins.media-sm {
      padding: 27px 0 28px;
    }

    @include mixins.media-lg {
      padding: 26px 0;
    }

    &-name {
      flex: 0 0 33.3%;
      @include mixins.media-sm {
        flex: 0 0 13%;
        display: flex;
      }

      @include mixins.media-lg {
        flex: 0 0 19%;
      }

      &-company {
        padding: 10px;

        @extend %header-1;

        margin-left: 1px;

        @include mixins.media-sm {
          margin-left: 40px;
        }

        @include mixins.media-lg {
          margin-left: 135px;
        }
      }
    }

    &-navigation {
      display: none;

      @include mixins.media-sm {
        display: block;
      }

      &-list {
        display: flex;
        flex-direction: row;
        gap: 25px;

        @include mixins.media-lg {
          gap: 38px;
        }

        & > li {
          a {
            @extend %h-paper-name;

            color: colors.$black;
          }
        }
      }
    }

    &-theme {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 24px;
      width: 24px;
      flex: 0 0 33.3%;

      @include mixins.media-sm {
        flex: 0 0 3%;
        margin-right: 40px;
      }

      @include mixins.media-lg {
        flex: 0 0 1%;
        margin-right: 135px;
      }
    }

    &-menu {
      display: flex;
      align-items: center;
      height: 24px;
      flex: 0 0 33.3%;
      justify-content: right;

      @include mixins.media-sm {
        display: none;
      }

      &-block {
        width: 44px;
        height: 44px;

        &-icon {
          margin-right: 13px;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &-close {
          margin-right: 13px;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    &-burger-menu {
      justify-content: flex-end;

      &-list {
        background-color: colors.$white;
        padding: 50px 65px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        position: absolute;
        height: calc(100vh - 50px);
        width: 100%;

        @extend %h4;

        & > li {
          a {
            color: colors.$black;
          }
        }
      }

      @include mixins.media-sm {
        display: none;
      }
    }
  }
}
