@use '../mixins';
@use '../typography';
@use '../colors';

.header {
  background-color: colors.$white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;

  @include mixins.media-sm {
    box-shadow: 0 1px 10px rgba(0 0 0 / 10%);
  }

  &__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;

    @include mixins.media-sm {
      height: 80px;
    }

    @include mixins.media-lg {
      height: 100px;
    }

    &-name {
      flex: 0 0 33.3%;

      @include mixins.media-sm {
        flex: 0 0 auto;
      }

      &-company {
        @extend %header-1;
      }
    }

    &-navigation {
      display: none;

      @include mixins.media-sm {
        display: block;
      }

      &-list {
        display: flex;
        flex-direction: row;
        gap: 25px;

        @include mixins.media-lg {
          gap: 38px;
        }

        & > li {
          a {
            @extend %h-paper-name;

            color: colors.$black;
          }
        }
      }
    }

    &-theme {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 48px;
      width: 48px;
      flex: 0 0 33.3%;

      @include mixins.media-sm {
        flex: 0 0 auto;
      }

      &-button {
        font-size: 0;
        display: block;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        width: 48px;
        height: 48px;
        background-image: url('../images/header/theme-light.svg');
        background-repeat: no-repeat;
        background-size: 24px 24px;
        transition: background-color 0.2s ease-in;
        background-position: center center;
        border-radius: 50%;

        @include mixins.media-lg {
          &:hover {
            background-color: colors.$orange-background;
          }
        }
      }
    }

    &-mobile-menu {
      display: flex;
      align-items: center;
      justify-content: right;
      height: 24px;
      width: 24px;
      flex: 0 0 33.3%;

      @include mixins.media-sm {
        display: none;
      }

      &-container {
        &-button {
          font-size: 0;
          display: block;
          border: 0;
          background-color: transparent;
          cursor: pointer;
          width: 48px;
          height: 48px;
          background-image: url('../images/header/burger-menu-light.svg');
          background-repeat: no-repeat;
          background-size: 24px 24px;
          background-position: center center;
          position: relative;
          right: -8px;

          &-close {
            background-image: url('../images/header/cross-light.svg');
            background-size: 18px 18px;
          }
        }
      }
    }

    &-burger-menu {
      justify-content: flex-end;

      &-list {
        background-color: colors.$white;
        padding: 50px 65px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        position: absolute;
        height: calc(100vh - 50px);
        width: 100%;

        @extend %h4;

        & > li {
          a {
            color: colors.$black;
          }
        }
      }

      @include mixins.media-sm {
        display: none;
      }
    }
  }
}

.dark {
  .header {
    background-color: colors.$dark-view-2;

    &__main {
      &-navigation-list > li a {
        color: colors.$white;

        &:hover {
          color: colors.$orange;
        }
      }

      &-theme-button {
        background-image: url('../images/header/theme-dark.svg');

        @include mixins.media-lg {
          &:hover {
            background-color: colors.$dark-view-1;
          }
        }
      }

      &-burger-menu-list {
        background-color: colors.$dark-view-2;

        & > li {
          a {
            color: colors.$white;
          }
        }
      }

      &-name-company {
        color: colors.$white;
      }

      &-mobile-menu-container-button {
        background-image: url('../images/header/burger-menu-dark.svg');

        &-close {
          background-image: url('../images/header/cross-dark.svg');
        }
      }
    }
  }
}
