@use '../mixins';
@use '../typography';
@use '../colors';

.our-blog {
  padding: 50px 0;
  background-color: colors.$white;

  @include mixins.media-sm {
    padding: 120px 0;
  }

  &__text {
    text-align: center;

    h3 {
      margin-top: 18px;

      @extend %h-main;

      @include mixins.media-lg {
        margin-top: 25px;
      }
    }

    &-title {
      @extend %title;
    }
  }

  &__blogs {
    margin-top: 18px;
    gap: 8px;

    @include mixins.media-sm {
      margin-top: 15px;
      gap: 25px;
    }

    @include mixins.media-lg {
      margin-top: 50px;
    }

    &-articles {
      display: flex;
      flex-direction: row;
      overflow-x: scroll;

      @include mixins.media-sm {
        gap: 4px;
      }

      @include mixins.media-lg {
        gap: 10px;
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &-article {
      background-color: colors.$white;
      min-width: 296px;
      padding: 18px 18px 27px;
      box-shadow: 0 1px 10px rgba(0 0 0 / 10%);
      margin: 10px;

      @include mixins.media-sm {
        min-width: 332px;
        padding: 25px;
      }

      @include mixins.media-lg {
        min-width: 570px;
        padding: 18px;
      }

      &-synopsis {
        display: flex;
        flex-direction: row;
        gap: 10px;

        @include mixins.media-sm {
          gap: 5px;
        }

        &-text {
          color: colors.$black;

          &-header {
            @extend %h-opinion-post;

            color: colors.$orange;
          }

          &-entry {
            @extend %h-opinion-name;

            margin-top: 6px;

            @include mixins.media-sm {
              margin-top: 22px;
            }
          }
        }

        &-picture {
          width: 80px;
          height: 80px;
        }

        &-picture img {
          object-fit: cover;
          height: 100%;
        }
      }

      &-author {
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        gap: 10px;

        @include mixins.media-sm {
          margin-top: 22px;
          gap: 15px;
        }

        &-photo {
          width: 40px;
          height: 40px;

          @include mixins.media-sm {
            width: 60px;
            height: 60px;
          }
        }

        &-photo img {
          object-fit: cover;
          height: 100%;
        }

        &-text {
          display: flex;
          flex-direction: column;
          gap: 1px;

          @include mixins.media-sm {
            gap: 6px;
          }

          &-name {
            @extend %h-category;

            color: colors.$black;
          }

          &-information {
            display: flex;
            flex-direction: row;
            gap: 5px;

            @extend %title-small;

            @include mixins.media-sm {
              gap: 10px;
            }
          }
        }
      }
    }

    &-slider-box {
      margin-top: 7.5px;
      display: flex;
      justify-content: center;

      &-slider {
        height: 15px;
        width: 87px;
        display: flex;
        flex-direction: row;
        gap: 4px;

        @include mixins.media-sm {
          margin-top: 42.5px;
        }
      }
    }
  }
}

.dark {
  .our-blog {
    background-color: colors.$dark-background;

    &__text {
      h3 {
        color: colors.$white;
      }

      &-title {
        color: colors.$white;
      }
    }

    &__blogs-article {
      background-color: colors.$dark-view-1;

      &-synopsis-text {
        color: colors.$white;
      }

      &-author-text-name {
        color: colors.$white;
      }
    }
  }
}
