@use '../colors';
@use '../typography';

%button-contact-us {
  @extend %button-style;

  padding: 12px 20px;
  min-height: 50px;
  min-width: 150px;
  border: 0;
  border-radius: 5px;
  color: colors.$white;
  background-color: colors.$orange;
  transition: filter 0.2s ease-in;
  filter: drop-shadow(4px 5px 15px rgba(255 83 0 / 40%));

  &:hover {
    filter: drop-shadow(4px 5px 15px rgba(255 83 0 / 70%));
  }
}

%button-send-message {
  @extend %button-style;

  padding: 12px 20px;
  min-height: 50px;
  min-width: 190px;
  border: 0;
  border-radius: 5px;
  color: colors.$white;
  background-color: colors.$orange;
  transition: filter 0.2s ease-in;
  filter: drop-shadow(4px 5px 15px rgba(255 83 0 / 40%));

  &:hover {
    filter: drop-shadow(4px 5px 15px rgba(255 83 0 / 70%));
  }
}
