@use 'mixins';
@use 'colors';

%h-first {
  span {
    color: colors.$orange;
  }

  color: colors.$black;
  font-weight: 600;
  font-size: 31.25px;
  line-height: 38.62px;

  @include mixins.media-sm {
    font-size: 39.06px;
    line-height: 48.28px;
  }

  @include mixins.media-lg {
    font-weight: 700;
    font-size: 48px;
    line-height: 59.33px;
  }
}

%h-main {
  span {
    color: colors.$orange;
  }

  color: colors.$black;
  font-weight: 500;
  font-size: 25px;
  line-height: 30.9px;

  @include mixins.media-sm {
    font-weight: 600;
    font-size: 31.25px;
    line-height: 38.62px;
  }

  @include mixins.media-lg {
    font-size: 39.06px;
    line-height: 48.28px;
  }
}

%h-main2 {
  span {
    color: colors.$orange;
  }

  color: colors.$black;
  font-weight: 500;
  font-size: 25px;
  line-height: 30.9px;

  @include mixins.media-lg {
    font-weight: 600;
    font-size: 31.25px;
    line-height: 38.62px;
  }
}

%footer-h {
  span {
    color: colors.$orange;
  }

  color: colors.$white;
  font-weight: 600;
  font-size: 31.25px;
  line-height: 38.62px;

  @include mixins.media-sm {
    font-weight: 700;
    font-size: 25px;
    line-height: 30.9px;
  }

  @include mixins.media-lg {
    font-weight: 600;
    font-size: 39.06px;
    line-height: 48.28px;
  }
}

%footer-h2 {
  color: colors.$white;
  font-weight: 600;
  font-size: 31.25px;
  line-height: 38.62px;

  @include mixins.media-sm {
    font-weight: 500;
    font-size: 25px;
    line-height: 30.9px;
  }

  @include mixins.media-lg {
    font-weight: 600;
    font-size: 39.06px;
    line-height: 48.28px;
  }
}

%footer-input {
  color: colors.$white;
  font-weight: 400;
  font-size: 16px;
  line-height: 24.1px;

  @include mixins.media-sm {
    font-weight: 400;
    font-size: 12.8px;
    line-height: 15.82px;
  }

  @include mixins.media-lg {
    font-weight: 400;
    font-size: 16px;
    line-height: 24.1px;
  }
}

%h-second {
  color: colors.$black;
  font-weight: 500;
  font-size: 20px;
  line-height: 24.72px;

  @include mixins.media-sm {
    font-weight: 400;
    font-size: 16px;
    line-height: 24.1px;
  }
}

%h-paper-number {
  color: colors.$black;
  font-weight: 700;
  font-size: 48px;
  line-height: 59.33px;

  @include mixins.media-sm {
    font-weight: 500;
    font-size: 25px;
    line-height: 30.9px;
  }

  @include mixins.media-lg {
    font-weight: 700;
    font-size: 48px;
    line-height: 59.33px;
  }
}
%h-paper-name {
  color: colors.$gray-paragraph;
  font-weight: 500;
  font-size: 25px;
  line-height: 30.9px;

  @include mixins.media-sm {
    font-weight: 400;
    font-size: 16px;
    line-height: 24.1px;
  }

  @include mixins.media-lg {
    font-weight: 500;
    font-size: 20px;
    line-height: 24.72px;
  }
}

%h-contact-us-1 {
  color: colors.$black;
  font-weight: 600;
  font-size: 31.25px;
  line-height: 38.62px;

  @include mixins.media-sm {
    font-weight: 500;
    font-size: 25px;
    line-height: 30.9px;
  }

  @include mixins.media-lg {
    font-weight: 600;
    font-size: 31.25px;
    line-height: 38.62px;
  }
}

%h-contact-us-2 {
  color: colors.$orange;
  font-weight: 500;
  font-size: 25px;
  line-height: 30.9px;

  @include mixins.media-sm {
    font-weight: 500;
    font-size: 20px;
    line-height: 24.72px;
  }

  @include mixins.media-lg {
    font-weight: 500;
    font-size: 25px;
    line-height: 30.9px;
  }
}

%h-contact-us-3 {
  span {
    color: colors.$orange;
  }

  color: colors.$gray-paragraph;
  font-weight: 500;
  font-size: 20px;
  line-height: 24.72px;

  @include mixins.media-sm {
    span {
      font-weight: 400;
      font-size: 13.8px;
      line-height: 15.82px;
    }

    font-weight: 400;
    font-size: 16px;
    line-height: 24.1px;
  }

  @include mixins.media-lg {
    span {
      font-weight: 500;
      font-size: 20px;
      line-height: 24.72px;
    }

    font-weight: 500;
    font-size: 20px;
    line-height: 24.72px;
  }
}

%h-search {
  color: colors.$white;
  font-weight: 600;
  font-size: 31.25px;
  line-height: 38.62px;

  @include mixins.media-sm {
    font-weight: 500;
    font-size: 25px;
    line-height: 30.9px;
  }
}

%h-category {
  color: colors.$gray-paragraph;
  font-weight: 400;
  font-size: 16px;
  line-height: 24.1px;

  @include mixins.media-sm {
    font-weight: 500;
    font-size: 20px;
    line-height: 24.72px;
  }
}

%h-opinion-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 24.1px;

  @include mixins.media-sm {
    font-weight: 500;
    font-size: 20px;
    line-height: 24.72px;
  }
  @include mixins.media-lg {
    font-weight: 500;
    font-size: 25px;
    line-height: 30.9px;
  }
}

%h-opinion-post {
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15.82px;

  @include mixins.media-sm {
    font-weight: 400;
    font-size: 16px;
    line-height: 24.1px;
  }
}

%title-small {
  color: colors.$gray-paragraph;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15.82px;

  @include mixins.media-lg {
    font-weight: 400;
    font-size: 16px;
    line-height: 24.1px;
  }
}

%title {
  color: colors.$gray-paragraph;
  font-weight: 400;
  font-size: 16px;
  line-height: 24.1px;
}

%button-style {
  color: colors.$black;
  font-weight: 500;
  font-size: 20px;
  line-height: 24.72px;
}

%h1 {
  color: colors.$black;
  font-weight: 700;
  font-size: 48px;
  line-height: 59.33px;
}

%h2 {
  color: colors.$black;
  font-weight: 600;
  font-size: 39.06px;
  line-height: 48.28px;
}

%h3 {
  color: colors.$black;
  font-weight: 600;
  font-size: 31.25px;
  line-height: 38.62px;
}

%h4 {
  color: colors.$black;
  font-weight: 500;
  font-size: 25px;
  line-height: 30.9px;
}

%h5 {
  color: colors.$black;
  font-weight: 500;
  font-size: 20px;
  line-height: 24.72px;
}

%h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24.1px;
}

%h7 {
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15.82px;
}
