@use 'colors';
@use 'mixins';

%h-first {
  color: colors.$black;
  font-weight: 600;
  font-size: 31.25px;
  line-height: 38.62px;

  @include mixins.media-sm {
    font-size: 39.06px;
    line-height: 48.28px;
  }

  @include mixins.media-lg {
    font-weight: 700;
    font-size: 48px;
    line-height: 59.33px;
  }
}

%h-main {
  color: colors.$black;
  font-weight: 500;
  font-size: 25px;
  line-height: 30.9px;

  @include mixins.media-sm {
    font-weight: 600;
    font-size: 31.25px;
    line-height: 38.62px;
  }

  @include mixins.media-lg {
    font-size: 39.06px;
    line-height: 48.28px;
  }
}

%h-second {
  color: colors.$black;
  font-weight: 500;
  font-size: 20px;
  line-height: 24.72px;

  @include mixins.media-sm {
    font-weight: 400;
    font-size: 16px;
    line-height: 24.1px;
  }
}

%h-paper-number {
  color: colors.$black;
  font-weight: 700;
  font-size: 48px;
  line-height: 59.33px;

  @include mixins.media-sm {
    font-weight: 500;
    font-size: 25px;
    line-height: 30.9px;
  }

  @include mixins.media-lg {
    font-weight: 700;
    font-size: 48px;
    line-height: 59.33px;
  }
}
%h-paper-name {
  color: colors.$gray-paragraph;
  font-weight: 500;
  font-size: 25px;
  line-height: 30.9px;

  @include mixins.media-sm {
    font-weight: 400;
    font-size: 16px;
    line-height: 24.1px;
  }

  @include mixins.media-lg {
    font-weight: 500;
    font-size: 20px;
    line-height: 24.72px;
  }
}

%title {
  color: colors.$gray-paragraph;
  font-weight: 400;
  font-size: 16px;
  line-height: 24.1px;
}

%button {
  color: colors.$black;
  font-weight: 500;
  font-size: 20px;
  line-height: 24.72px;
}

%h1 {
  color: colors.$black;
  font-weight: 700;
  font-size: 48px;
  line-height: 59.33px;
}

%h2 {
  color: colors.$black;
  font-weight: 600;
  font-size: 39.06px;
  line-height: 48.28px;
}

%h3 {
  color: colors.$black;
  font-weight: 600;
  font-size: 31.25px;
  line-height: 38.62px;
}

%h4 {
  color: colors.$black;
  font-weight: 500;
  font-size: 25px;
  line-height: 30.9px;
}

%h5 {
  color: colors.$black;
  font-weight: 500;
  font-size: 20px;
  line-height: 24.72px;
}
