$color-orange-background: #fff7f4;
$color-black-text: #373737;
$color-orange-text: #ff5300;
$color-gray-text: #7b7b7b;
$color-white-text: #fff;

$h3-font-size-mobile: 20px;
$h3-font-size-tab: 25px;
$h3-font-size-desktop: 31.25px;
$media-tab: 768px;
$media-desktop: 992px;

$h3-line-height-mobile: 38.62px;
$h3-line-height-tab: 48.28px;
$h3-line-height-desktop: 59.33px;
$h3-font-weigth: 600;

.hero {
  background-color: $color-orange-background;

  &__text {
    text-align: center;

    @media screen and (min-width: $media-tab) {
      text-align: left;
    }

    h3 {
      font-size: $h3-font-size-mobile;
      color: $color-black-text;
      line-height: $h3-line-height-mobile;
      font-weight: $h3-font-weigth;

      @media screen and (min-width: $media-tab) {
        font-size: $h3-font-size-tab;
        line-height: $h3-line-height-tab;
      }

      @media screen and (min-width: $media-desktop) {
        font-size: $h3-font-size-desktop;
        line-height: $h3-line-height-desktop;
      }

      span {
        color: $color-orange-text;
      }
    }

    p {
      margin: 18px 0 0;
      color: $color-gray-text;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;

      @media screen and (min-width: $media-desktop) {
        margin: 25px 0 0;
      }
    }

    button {
      margin: 25px 0 0;
      font-weight: 500;
      font-size: 20px;
      line-height: 25px;
      color: $color-white-text;
      padding: 12px 20px;
      background-color: $color-orange-text;
      border: 0;
      box-shadow: 0 1px 10px rgba(0 0 0 / 10%);
      border-radius: 5px;

      @media screen and (min-width: $media-desktop) {
        margin: 50px 0 0;
      }
    }
  }
}
